--
-- PostgreSQL database dump
--

\restrict M9erGpwpmCVyuN4SPw0qyeZHtJPgrydRyblVUSNf2CgFEzZV4dLsBPUbAEzI8CL

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg12+1)
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: ecoletrack_user
--

CREATE SCHEMA drizzle;


ALTER SCHEMA drizzle OWNER TO ecoletrack_user;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: ecoletrack_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO ecoletrack_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: ecoletrack_user
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


ALTER TABLE drizzle.__drizzle_migrations OWNER TO ecoletrack_user;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: ecoletrack_user
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNER TO ecoletrack_user;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: ecoletrack_user
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: absences; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.absences (
    id integer NOT NULL,
    student_id integer NOT NULL,
    class_id integer NOT NULL,
    date text NOT NULL,
    period text NOT NULL,
    is_justified boolean DEFAULT false NOT NULL,
    justification_reason text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.absences OWNER TO ecoletrack_user;

--
-- Name: absences_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.absences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.absences_id_seq OWNER TO ecoletrack_user;

--
-- Name: absences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.absences_id_seq OWNED BY public.absences.id;


--
-- Name: academic_years; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.academic_years (
    id integer NOT NULL,
    school_id integer,
    name text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.academic_years OWNER TO ecoletrack_user;

--
-- Name: academic_years_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.academic_years_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.academic_years_id_seq OWNER TO ecoletrack_user;

--
-- Name: academic_years_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.academic_years_id_seq OWNED BY public.academic_years.id;


--
-- Name: audit_events; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.audit_events (
    id integer NOT NULL,
    actor_user_id integer,
    actor_role text NOT NULL,
    actor_email text,
    actor_name text,
    action text NOT NULL,
    resource_type text NOT NULL,
    resource_id integer,
    school_id integer,
    description text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.audit_events OWNER TO ecoletrack_user;

--
-- Name: audit_events_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.audit_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_events_id_seq OWNER TO ecoletrack_user;

--
-- Name: audit_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.audit_events_id_seq OWNED BY public.audit_events.id;


--
-- Name: bulletin_lines; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.bulletin_lines (
    id integer NOT NULL,
    bulletin_id integer NOT NULL,
    subject_id integer,
    subject_name text NOT NULL,
    coefficient integer NOT NULL,
    average text,
    teacher_comment text,
    rank integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.bulletin_lines OWNER TO ecoletrack_user;

--
-- Name: bulletin_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.bulletin_lines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bulletin_lines_id_seq OWNER TO ecoletrack_user;

--
-- Name: bulletin_lines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.bulletin_lines_id_seq OWNED BY public.bulletin_lines.id;


--
-- Name: bulletins; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.bulletins (
    id integer NOT NULL,
    student_id integer NOT NULL,
    class_id integer NOT NULL,
    school_year_id integer NOT NULL,
    term_id integer NOT NULL,
    average text,
    total_points text NOT NULL,
    total_coefficients text NOT NULL,
    rank integer,
    mention text,
    appreciation text,
    generated_at timestamp without time zone DEFAULT now() NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.bulletins OWNER TO ecoletrack_user;

--
-- Name: bulletins_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.bulletins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bulletins_id_seq OWNER TO ecoletrack_user;

--
-- Name: bulletins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.bulletins_id_seq OWNED BY public.bulletins.id;


--
-- Name: class_teachers; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.class_teachers (
    id integer NOT NULL,
    class_id integer NOT NULL,
    teacher_id integer NOT NULL
);


ALTER TABLE public.class_teachers OWNER TO ecoletrack_user;

--
-- Name: class_teachers_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.class_teachers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.class_teachers_id_seq OWNER TO ecoletrack_user;

--
-- Name: class_teachers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.class_teachers_id_seq OWNED BY public.class_teachers.id;


--
-- Name: classes; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.classes (
    id integer NOT NULL,
    school_id integer,
    academic_year_id integer NOT NULL,
    name text NOT NULL,
    teacher_id integer
);


ALTER TABLE public.classes OWNER TO ecoletrack_user;

--
-- Name: classes_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.classes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.classes_id_seq OWNER TO ecoletrack_user;

--
-- Name: classes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.classes_id_seq OWNED BY public.classes.id;


--
-- Name: evaluations; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.evaluations (
    id integer NOT NULL,
    class_id integer NOT NULL,
    teacher_id integer NOT NULL,
    term_id integer,
    subject text NOT NULL,
    title text NOT NULL,
    coefficient integer DEFAULT 1 NOT NULL,
    max_score integer DEFAULT 20 NOT NULL,
    count_in_bulletin boolean DEFAULT true NOT NULL,
    date text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.evaluations OWNER TO ecoletrack_user;

--
-- Name: evaluations_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.evaluations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.evaluations_id_seq OWNER TO ecoletrack_user;

--
-- Name: evaluations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.evaluations_id_seq OWNED BY public.evaluations.id;


--
-- Name: grade_history; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.grade_history (
    id integer NOT NULL,
    grade_id integer NOT NULL,
    old_value text,
    new_value text,
    changed_by integer,
    changed_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.grade_history OWNER TO ecoletrack_user;

--
-- Name: grade_history_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.grade_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.grade_history_id_seq OWNER TO ecoletrack_user;

--
-- Name: grade_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.grade_history_id_seq OWNED BY public.grade_history.id;


--
-- Name: grades; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.grades (
    id integer NOT NULL,
    evaluation_id integer NOT NULL,
    student_id integer NOT NULL,
    score text NOT NULL,
    remarks text,
    edit_count integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.grades OWNER TO ecoletrack_user;

--
-- Name: grades_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.grades_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.grades_id_seq OWNER TO ecoletrack_user;

--
-- Name: grades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.grades_id_seq OWNED BY public.grades.id;


--
-- Name: local_auths; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.local_auths (
    id integer NOT NULL,
    user_id integer NOT NULL,
    password_hash text NOT NULL,
    salt text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.local_auths OWNER TO ecoletrack_user;

--
-- Name: local_auths_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.local_auths_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.local_auths_id_seq OWNER TO ecoletrack_user;

--
-- Name: local_auths_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.local_auths_id_seq OWNED BY public.local_auths.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    type text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.notifications OWNER TO ecoletrack_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO ecoletrack_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: parents; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.parents (
    id integer NOT NULL,
    user_id integer NOT NULL,
    phone text,
    address text,
    student_id integer,
    school_id integer
);


ALTER TABLE public.parents OWNER TO ecoletrack_user;

--
-- Name: parents_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.parents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.parents_id_seq OWNER TO ecoletrack_user;

--
-- Name: parents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.parents_id_seq OWNED BY public.parents.id;


--
-- Name: school_classes; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.school_classes (
    id integer NOT NULL,
    school_id integer NOT NULL,
    class_id integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.school_classes OWNER TO ecoletrack_user;

--
-- Name: school_classes_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.school_classes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.school_classes_id_seq OWNER TO ecoletrack_user;

--
-- Name: school_classes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.school_classes_id_seq OWNED BY public.school_classes.id;


--
-- Name: school_subjects; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.school_subjects (
    id integer NOT NULL,
    school_id integer NOT NULL,
    subject_id integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.school_subjects OWNER TO ecoletrack_user;

--
-- Name: school_subjects_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.school_subjects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.school_subjects_id_seq OWNER TO ecoletrack_user;

--
-- Name: school_subjects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.school_subjects_id_seq OWNED BY public.school_subjects.id;


--
-- Name: school_terms; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.school_terms (
    id integer NOT NULL,
    school_id integer,
    academic_year_id integer NOT NULL,
    name text NOT NULL,
    start_date text,
    end_date text,
    order_index integer DEFAULT 1 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.school_terms OWNER TO ecoletrack_user;

--
-- Name: school_terms_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.school_terms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.school_terms_id_seq OWNER TO ecoletrack_user;

--
-- Name: school_terms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.school_terms_id_seq OWNED BY public.school_terms.id;


--
-- Name: schools; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.schools (
    id integer NOT NULL,
    name text NOT NULL,
    address text,
    phone text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.schools OWNER TO ecoletrack_user;

--
-- Name: schools_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.schools_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schools_id_seq OWNER TO ecoletrack_user;

--
-- Name: schools_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.schools_id_seq OWNED BY public.schools.id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.students (
    id integer NOT NULL,
    school_id integer NOT NULL,
    class_id integer NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    birth_date text,
    gender text,
    parent_id integer,
    school_admin_id integer,
    enrolled_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.students OWNER TO ecoletrack_user;

--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.students_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.students_id_seq OWNER TO ecoletrack_user;

--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: subjects; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.subjects (
    id integer NOT NULL,
    school_id integer,
    name text NOT NULL,
    code text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.subjects OWNER TO ecoletrack_user;

--
-- Name: subjects_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.subjects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subjects_id_seq OWNER TO ecoletrack_user;

--
-- Name: subjects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.subjects_id_seq OWNED BY public.subjects.id;


--
-- Name: teachers; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.teachers (
    id integer NOT NULL,
    user_id integer NOT NULL,
    school_id integer NOT NULL,
    phone text,
    specialization text
);


ALTER TABLE public.teachers OWNER TO ecoletrack_user;

--
-- Name: teachers_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.teachers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teachers_id_seq OWNER TO ecoletrack_user;

--
-- Name: teachers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.teachers_id_seq OWNED BY public.teachers.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: ecoletrack_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    uid text NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    role text NOT NULL,
    school_id integer,
    academic_year_id integer,
    gender text,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO ecoletrack_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: ecoletrack_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO ecoletrack_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecoletrack_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: ecoletrack_user
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Name: absences id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.absences ALTER COLUMN id SET DEFAULT nextval('public.absences_id_seq'::regclass);


--
-- Name: academic_years id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.academic_years ALTER COLUMN id SET DEFAULT nextval('public.academic_years_id_seq'::regclass);


--
-- Name: audit_events id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.audit_events ALTER COLUMN id SET DEFAULT nextval('public.audit_events_id_seq'::regclass);


--
-- Name: bulletin_lines id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.bulletin_lines ALTER COLUMN id SET DEFAULT nextval('public.bulletin_lines_id_seq'::regclass);


--
-- Name: bulletins id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.bulletins ALTER COLUMN id SET DEFAULT nextval('public.bulletins_id_seq'::regclass);


--
-- Name: class_teachers id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.class_teachers ALTER COLUMN id SET DEFAULT nextval('public.class_teachers_id_seq'::regclass);


--
-- Name: classes id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.classes ALTER COLUMN id SET DEFAULT nextval('public.classes_id_seq'::regclass);


--
-- Name: evaluations id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.evaluations ALTER COLUMN id SET DEFAULT nextval('public.evaluations_id_seq'::regclass);


--
-- Name: grade_history id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.grade_history ALTER COLUMN id SET DEFAULT nextval('public.grade_history_id_seq'::regclass);


--
-- Name: grades id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.grades ALTER COLUMN id SET DEFAULT nextval('public.grades_id_seq'::regclass);


--
-- Name: local_auths id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.local_auths ALTER COLUMN id SET DEFAULT nextval('public.local_auths_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: parents id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.parents ALTER COLUMN id SET DEFAULT nextval('public.parents_id_seq'::regclass);


--
-- Name: school_classes id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_classes ALTER COLUMN id SET DEFAULT nextval('public.school_classes_id_seq'::regclass);


--
-- Name: school_subjects id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_subjects ALTER COLUMN id SET DEFAULT nextval('public.school_subjects_id_seq'::regclass);


--
-- Name: school_terms id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_terms ALTER COLUMN id SET DEFAULT nextval('public.school_terms_id_seq'::regclass);


--
-- Name: schools id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.schools ALTER COLUMN id SET DEFAULT nextval('public.schools_id_seq'::regclass);


--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Name: subjects id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.subjects ALTER COLUMN id SET DEFAULT nextval('public.subjects_id_seq'::regclass);


--
-- Name: teachers id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.teachers ALTER COLUMN id SET DEFAULT nextval('public.teachers_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: ecoletrack_user
--

COPY drizzle.__drizzle_migrations (id, hash, created_at) FROM stdin;
\.


--
-- Data for Name: absences; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.absences (id, student_id, class_id, date, period, is_justified, justification_reason, created_at) FROM stdin;
1	1	40	2026-06-12	morning	f	\N	2026-07-17 01:31:00.30233
2	1	40	2026-06-18	afternoon	t	Rendez-vous m├®dical chez le dentiste (justificatif fourni).	2026-07-17 01:31:00.30233
3	3	40	2026-06-19	all_day	f	\N	2026-07-17 01:31:00.30233
\.


--
-- Data for Name: academic_years; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.academic_years (id, school_id, name, is_active, created_at) FROM stdin;
1	1	2025-2026	t	2026-07-17 01:30:59.771326
\.


--
-- Data for Name: audit_events; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--



--
-- Data for Name: bulletin_lines; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.bulletin_lines (id, bulletin_id, subject_id, subject_name, coefficient, average, teacher_comment, rank, created_at) FROM stdin;
\.


--
-- Data for Name: bulletins; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.bulletins (id, student_id, class_id, school_year_id, term_id, average, total_points, total_coefficients, rank, mention, appreciation, generated_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: class_teachers; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.class_teachers (id, class_id, teacher_id) FROM stdin;
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--



--
-- Data for Name: evaluations; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.evaluations (id, class_id, teacher_id, term_id, subject, title, coefficient, max_score, count_in_bulletin, date, created_at) FROM stdin;
1	40	1	\N	Math├®matiques	Alg├¿bre - Fonctions et Limites	2	20	t	2026-06-10	2026-07-17 01:31:00.289693
2	40	1	\N	Math├®matiques	G├®om├®trie analytique - Vecteurs de l'espace	1	20	t	2026-06-15	2026-07-17 01:31:00.292107
\.


--
-- Data for Name: grade_history; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.grade_history (id, grade_id, old_value, new_value, changed_by, changed_at) FROM stdin;
\.


--
-- Data for Name: grades; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--



--
-- Data for Name: local_auths; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.local_auths (id, user_id, password_hash, salt, created_at) FROM stdin;
1	1	cca777bfcdf228773085a5cb6d63c2eeb2531311bef95f9b842de46fcc7ec538f816cc86ddf73fd197c526e7e7ea687b58fe644c98071bf240fa15f88e767b0c	59c990506f7c40c69905b668cc146caf	2026-07-17 08:26:58.445612
2	12	6385a615c45036c7f44166aa1684c50461335e34e15ca8dd1f1f492f5e31d56e50815c6fe0a064aef717a310c715440381b89fbcdb68143bad08b0e1a600c62a	160d3938bd555b8fe3f8d95219d26d4a	2026-07-17 09:28:45.443902
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.notifications (id, user_id, title, body, type, is_read, created_at) FROM stdin;
1	4	Absence enregistr├®e de Lucas	Lucas Dubois a ├®t├® marqu├® absent ce matin (2026-06-12). Veuillez justifier cette absence dans votre espace.	absence	f	2026-07-17 01:31:00.304814
2	4	Nouvelle note disponible	Lucas Dubois a re├ºu une note de 16.0/20 pour l'├®valuation : G├®om├®trie analytique.	grade	f	2026-07-17 01:31:00.304814
3	4	Information de l'├®tablissement	Rappel : La r├®union parents-professeurs aura lieu vendredi prochain ├á partir de 17h.	info	t	2026-07-17 01:31:00.304814
\.


--
-- Data for Name: parents; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.parents (id, user_id, phone, address, student_id, school_id) FROM stdin;
1	4	+228 90000000	14 Rue des Lilas, 75011 Paris	\N	\N
2	5	+228 90000000	29 Boulevard Voltaire, Paris	\N	\N
\.


--
-- Data for Name: school_classes; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.school_classes (id, school_id, class_id, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: school_subjects; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.school_subjects (id, school_id, subject_id, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: school_terms; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.school_terms (id, school_id, academic_year_id, name, start_date, end_date, order_index, is_active, created_at) FROM stdin;
1	1	1	Trimestre 1	\N	\N	1	t	2026-07-17 01:30:59.773956
2	1	1	Trimestre 2	\N	\N	2	t	2026-07-17 01:30:59.776096
3	1	1	Trimestre 3	\N	\N	3	t	2026-07-17 01:30:59.777648
\.


--
-- Data for Name: schools; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.schools (id, name, address, phone, created_at) FROM stdin;
1	C.S LE SAVOIR	25 Avenue de la R├®publique, 75011 Paris	+228 90000000	2026-07-17 01:30:59.768838
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.students (id, school_id, class_id, first_name, last_name, birth_date, gender, parent_id, school_admin_id, enrolled_at) FROM stdin;
1	1	40	Lucas	Dubois	2008-04-12	\N	1	2	2026-07-17 01:31:00.277788
2	1	40	Chlo├®	Dubois	2010-09-25	\N	1	2	2026-07-17 01:31:00.280269
3	1	40	Thomas	Robert	2008-11-30	\N	2	2	2026-07-17 01:31:00.285696
4	1	40	In├¿s	Robert	2008-01-14	\N	2	2	2026-07-17 01:31:00.287676
\.


--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.subjects (id, school_id, name, code, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--

COPY public.teachers (id, user_id, school_id, phone, specialization) FROM stdin;
1	3	1	+228 90000000	Math├®matiques & Sciences Physiques
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ecoletrack_user
--



--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 12, true);


--
-- Name: absences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.absences_id_seq', 3, true);


--
-- Name: academic_years_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.academic_years_id_seq', 1, true);


--
-- Name: audit_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.audit_events_id_seq', 5, true);


--
-- Name: bulletin_lines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.bulletin_lines_id_seq', 1, false);


--
-- Name: bulletins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.bulletins_id_seq', 1, false);


--
-- Name: class_teachers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.class_teachers_id_seq', 1, false);


--
-- Name: classes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.classes_id_seq', 52, true);


--
-- Name: evaluations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.evaluations_id_seq', 2, true);


--
-- Name: grade_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.grade_history_id_seq', 1, false);


--
-- Name: grades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.grades_id_seq', 8, true);


--
-- Name: local_auths_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.local_auths_id_seq', 2, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.notifications_id_seq', 3, true);


--
-- Name: parents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.parents_id_seq', 2, true);


--
-- Name: school_classes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.school_classes_id_seq', 1, false);


--
-- Name: school_subjects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.school_subjects_id_seq', 1, false);


--
-- Name: school_terms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.school_terms_id_seq', 3, true);


--
-- Name: schools_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.schools_id_seq', 1, true);


--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.students_id_seq', 4, true);


--
-- Name: subjects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.subjects_id_seq', 1, false);


--
-- Name: teachers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.teachers_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecoletrack_user
--

SELECT pg_catalog.setval('public.users_id_seq', 12, true);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: ecoletrack_user
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: absences absences_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.absences
    ADD CONSTRAINT absences_pkey PRIMARY KEY (id);


--
-- Name: academic_years academic_years_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.academic_years
    ADD CONSTRAINT academic_years_pkey PRIMARY KEY (id);


--
-- Name: audit_events audit_events_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_pkey PRIMARY KEY (id);


--
-- Name: bulletin_lines bulletin_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.bulletin_lines
    ADD CONSTRAINT bulletin_lines_pkey PRIMARY KEY (id);


--
-- Name: bulletins bulletins_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.bulletins
    ADD CONSTRAINT bulletins_pkey PRIMARY KEY (id);


--
-- Name: class_teachers class_teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.class_teachers
    ADD CONSTRAINT class_teachers_pkey PRIMARY KEY (id);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: evaluations evaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_pkey PRIMARY KEY (id);


--
-- Name: grade_history grade_history_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.grade_history
    ADD CONSTRAINT grade_history_pkey PRIMARY KEY (id);


--
-- Name: grades grades_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_pkey PRIMARY KEY (id);


--
-- Name: local_auths local_auths_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.local_auths
    ADD CONSTRAINT local_auths_pkey PRIMARY KEY (id);


--
-- Name: local_auths local_auths_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.local_auths
    ADD CONSTRAINT local_auths_user_id_unique UNIQUE (user_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: parents parents_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.parents
    ADD CONSTRAINT parents_pkey PRIMARY KEY (id);


--
-- Name: parents parents_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.parents
    ADD CONSTRAINT parents_user_id_unique UNIQUE (user_id);


--
-- Name: school_classes school_classes_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_classes
    ADD CONSTRAINT school_classes_pkey PRIMARY KEY (id);


--
-- Name: school_subjects school_subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_subjects
    ADD CONSTRAINT school_subjects_pkey PRIMARY KEY (id);


--
-- Name: school_terms school_terms_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_terms
    ADD CONSTRAINT school_terms_pkey PRIMARY KEY (id);


--
-- Name: schools schools_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.schools
    ADD CONSTRAINT schools_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_user_id_unique UNIQUE (user_id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_uid_unique; Type: CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_uid_unique UNIQUE (uid);


--
-- Name: class_teachers_class_id_teacher_id_idx; Type: INDEX; Schema: public; Owner: ecoletrack_user
--

CREATE UNIQUE INDEX class_teachers_class_id_teacher_id_idx ON public.class_teachers USING btree (class_id, teacher_id);


--
-- Name: classes_school_academic_year_name_idx; Type: INDEX; Schema: public; Owner: ecoletrack_user
--

CREATE UNIQUE INDEX classes_school_academic_year_name_idx ON public.classes USING btree (school_id, academic_year_id, name);


--
-- Name: school_classes_school_id_class_id_idx; Type: INDEX; Schema: public; Owner: ecoletrack_user
--

CREATE UNIQUE INDEX school_classes_school_id_class_id_idx ON public.school_classes USING btree (school_id, class_id);


--
-- Name: school_subjects_school_id_subject_id_idx; Type: INDEX; Schema: public; Owner: ecoletrack_user
--

CREATE UNIQUE INDEX school_subjects_school_id_subject_id_idx ON public.school_subjects USING btree (school_id, subject_id);


--
-- Name: absences absences_class_id_classes_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.absences
    ADD CONSTRAINT absences_class_id_classes_id_fk FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: absences absences_student_id_students_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.absences
    ADD CONSTRAINT absences_student_id_students_id_fk FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: academic_years academic_years_school_id_schools_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.academic_years
    ADD CONSTRAINT academic_years_school_id_schools_id_fk FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: audit_events audit_events_actor_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_actor_user_id_users_id_fk FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: audit_events audit_events_school_id_schools_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_school_id_schools_id_fk FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: bulletin_lines bulletin_lines_bulletin_id_bulletins_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.bulletin_lines
    ADD CONSTRAINT bulletin_lines_bulletin_id_bulletins_id_fk FOREIGN KEY (bulletin_id) REFERENCES public.bulletins(id) ON DELETE CASCADE;


--
-- Name: bulletins bulletins_class_id_classes_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.bulletins
    ADD CONSTRAINT bulletins_class_id_classes_id_fk FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: bulletins bulletins_school_year_id_academic_years_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.bulletins
    ADD CONSTRAINT bulletins_school_year_id_academic_years_id_fk FOREIGN KEY (school_year_id) REFERENCES public.academic_years(id) ON DELETE CASCADE;


--
-- Name: bulletins bulletins_student_id_students_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.bulletins
    ADD CONSTRAINT bulletins_student_id_students_id_fk FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: bulletins bulletins_term_id_school_terms_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.bulletins
    ADD CONSTRAINT bulletins_term_id_school_terms_id_fk FOREIGN KEY (term_id) REFERENCES public.school_terms(id) ON DELETE SET NULL;


--
-- Name: class_teachers class_teachers_class_id_classes_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.class_teachers
    ADD CONSTRAINT class_teachers_class_id_classes_id_fk FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: class_teachers class_teachers_teacher_id_teachers_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.class_teachers
    ADD CONSTRAINT class_teachers_teacher_id_teachers_id_fk FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE CASCADE;


--
-- Name: classes classes_academic_year_id_academic_years_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_academic_year_id_academic_years_id_fk FOREIGN KEY (academic_year_id) REFERENCES public.academic_years(id) ON DELETE CASCADE;


--
-- Name: classes classes_school_id_schools_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_school_id_schools_id_fk FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: classes classes_teacher_id_teachers_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_teacher_id_teachers_id_fk FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: evaluations evaluations_class_id_classes_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_class_id_classes_id_fk FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: evaluations evaluations_teacher_id_teachers_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_teacher_id_teachers_id_fk FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE CASCADE;


--
-- Name: evaluations evaluations_term_id_school_terms_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_term_id_school_terms_id_fk FOREIGN KEY (term_id) REFERENCES public.school_terms(id) ON DELETE SET NULL;


--
-- Name: grade_history grade_history_changed_by_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.grade_history
    ADD CONSTRAINT grade_history_changed_by_users_id_fk FOREIGN KEY (changed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: grade_history grade_history_grade_id_grades_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.grade_history
    ADD CONSTRAINT grade_history_grade_id_grades_id_fk FOREIGN KEY (grade_id) REFERENCES public.grades(id) ON DELETE CASCADE;


--
-- Name: grades grades_evaluation_id_evaluations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_evaluation_id_evaluations_id_fk FOREIGN KEY (evaluation_id) REFERENCES public.evaluations(id) ON DELETE CASCADE;


--
-- Name: grades grades_student_id_students_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_student_id_students_id_fk FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: local_auths local_auths_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.local_auths
    ADD CONSTRAINT local_auths_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: parents parents_school_id_schools_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.parents
    ADD CONSTRAINT parents_school_id_schools_id_fk FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: parents parents_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.parents
    ADD CONSTRAINT parents_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: school_classes school_classes_class_id_classes_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_classes
    ADD CONSTRAINT school_classes_class_id_classes_id_fk FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: school_classes school_classes_school_id_schools_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_classes
    ADD CONSTRAINT school_classes_school_id_schools_id_fk FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: school_subjects school_subjects_school_id_schools_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_subjects
    ADD CONSTRAINT school_subjects_school_id_schools_id_fk FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: school_subjects school_subjects_subject_id_subjects_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_subjects
    ADD CONSTRAINT school_subjects_subject_id_subjects_id_fk FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE CASCADE;


--
-- Name: school_terms school_terms_academic_year_id_academic_years_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_terms
    ADD CONSTRAINT school_terms_academic_year_id_academic_years_id_fk FOREIGN KEY (academic_year_id) REFERENCES public.academic_years(id) ON DELETE CASCADE;


--
-- Name: school_terms school_terms_school_id_schools_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.school_terms
    ADD CONSTRAINT school_terms_school_id_schools_id_fk FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: students students_class_id_classes_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_class_id_classes_id_fk FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: students students_parent_id_parents_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_parent_id_parents_id_fk FOREIGN KEY (parent_id) REFERENCES public.parents(id) ON DELETE SET NULL;


--
-- Name: students students_school_admin_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_school_admin_id_users_id_fk FOREIGN KEY (school_admin_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: students students_school_id_schools_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_school_id_schools_id_fk FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: subjects subjects_school_id_schools_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_school_id_schools_id_fk FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: teachers teachers_school_id_schools_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_school_id_schools_id_fk FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: teachers teachers_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_academic_year_id_academic_years_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_academic_year_id_academic_years_id_fk FOREIGN KEY (academic_year_id) REFERENCES public.academic_years(id) ON DELETE SET NULL;


--
-- Name: users users_school_id_schools_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: ecoletrack_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_school_id_schools_id_fk FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO ecoletrack_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO ecoletrack_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO ecoletrack_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO ecoletrack_user;


--
-- PostgreSQL database dump complete
--

\unrestrict M9erGpwpmCVyuN4SPw0qyeZHtJPgrydRyblVUSNf2CgFEzZV4dLsBPUbAEzI8CL

